@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title= "Example";
}

<h1>@ViewBag.Title</h1>
<h2>Number #@ViewBag.No.ToString()</h2>
@if (ViewBag.Artist.Length > 0)
{
    <h2>Info:</h2>
    <ul>
        @foreach (var a in ViewBag.Artist)
        {
            <li>@a</li>
        }
    </ul>
}
