@{
    Layout = null;
    var title = "ExampleTitle";
    var no = 2;
    var artist = new string[]
    {
        "Name: Name",
        "Age: 25",
        "Gender: Female"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@title</h1>
        <h2>Number #@no.ToString()</h2>
        @if (artist.Length > 0)
        {
            <h2>Info:</h2>
            <ul>
                @foreach (var a in artist)
                {
                    <li>@a</li>
                }
            </ul>
        }

    </div>
</body>
</html>
