@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <h2>Number #@ViewBag.No.ToString()</h2>
        @if (ViewBag.Artist.Length > 0)
        {
            <h2>Info:</h2>
            <ul>
                @foreach (var a in ViewBag.Artist)
                {
                    <li>@a</li>
                }
            </ul>
        }

    </div>
</body>
</html>
