@model MVCBasic.ComicBookGallery.Models.ComicBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<h1>@Model.Title</h1>
<h2>Number #@Model.Issue</h2>
<h4>@Html.Raw(Model.DescriptionHtml)</h4>
@if (Model.Artists.Count() > 0)
{
    <h3>Artists:</h3>
    <ul>
        @foreach (var a in Model.Artists)
        {
            <li>Name: @a.Name, Role: @a.Role</li>
        }
    </ul>
}
