@model List<MVCBasic.ComicBookGallery.Models.ComicBook>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    @foreach (var m in @Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(m.DisplayText, "Detail", new { id = m.Id })</h4>
            <a href="@Url.Action("Detail", new { id = m.Id })">
                <img src="/Images/@m.CoverImageFileName"
                     alt="@m.DisplayText"
                     class="img-responsive" />
            </a>
        </div>
    }
</div>


